<!DOCTYPE html>
<html>
    <head>
        <title>Flipstore</title>
        <link rel="stylesheet" href="/style.css ">
        <link rel="stylesheet" href="/plugins/fontawesome/css/font-awesome.min.css">
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a class="brand"  href="index.html">Flipstore</a>
                </div>
                <div>
                    <a href="index.html">Cart</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html"></a>
                        <!-- image size : 680 by 830 -->
                        <img class= "medium" src="/images/team-2.jpg" alt="product">
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Nike Shirts</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>

                            </div>

                            <div class="price">$120</div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html"></a>
                        <!-- image size : 680 by 830 -->
                        <img class= "medium" src="/images/team-2.jpg" alt="product">
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Nike Shirts</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>

                            </div>

                            <div class="price">$120</div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html"></a>
                        <!-- image size : 680 by 830 -->
                        <img class= "medium" src="/images/team-2.jpg" alt="product">
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Nike Shirts</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>

                            </div>

                            <div class="price">$120</div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html"></a>
                        <!-- image size : 680 by 830 -->
                        <img class= "medium" src="/images/team-2.jpg" alt="product">
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Nike Shirts</h2>
                            </a>
                            <div class="rating">
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star"></i>
                                </span>
                                <span>
                                    <i class="fa fa-star-o"></i>
                                </span>

                            </div>

                            <div class="price">$120</div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html"></a>
                        <!-- image size : 680 by 830 -->
                        <img class= "medium" src="/images/team-2.jpg" alt="product">
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Nike Shirts</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-half-o"></i></span>

                            </div>

                            <div class="price">$120</div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">All right reserved </footer>
        </div>
    </body>
</html>